 
body {
    background-image: url("https://ifce.edu.br/acarau/Imagens/galeria_fotos/historico/faccamp.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
  }
 

.container {
    text-align: center;
    background-color: #ffffff;
    border-radius: 25px; 
    margin-top: 5%;
    background-size: 100%;
	max-width: 500px;

}

img{
    height: 30%;
    width: 130px;
}

.backgroundvisual {
    position:absolute;
    background-color: rgba(0, 10, 0, 0.5);
	width:100%;
	height:100%;

}

.form-label {
    color: green;
}
